div {
  width: 800px;
  height: 500px;
  background: linear-gradient(rgba(255, 0, 0, 0.658), rgb(0, 119, 255));
  background: linear-gradient(to left, blue, gray);
  background: linear-gradient(to right, blue, gray);
  background: linear-gradient(to top, blue, gray);
}
